*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.8rem;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  margin-bottom: 8rem;
  position: relative;
}
.heading::after {
  content: "";
  width: 15rem;
  height: 0.3rem;
  background: linear-gradient(to right, #f44336, #9f4db5);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.review-box {
  width: 90%;
  max-width: 700px;
  height: 300px;
  border-radius: 1rem;
  box-shadow: -1rem 1rem 4rem rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.card {
  height: 300px;
  padding: 4rem;
  color: #777;
  line-height: 2.2rem;
  background: #fff;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.profile img {
  width: 7rem;
  border-radius: 100%;
  margin-right: 2rem;
  z-index: 1;
}

.profile h3 {
  font-size: 2.6rem;
  color: #f44336;
  margin-bottom: 0.8rem;
}

#slide {
  width: 100%;
  padding-right: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.sidebar {
  width: 6rem;
  height: 100%;
  padding: 1.5rem 0;
  background: #f44336;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar img {
  width: 2.5rem;
  padding: 0.5rem;
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.card::before {
  content: "";
  width: 11rem;
  height: 11rem;
  border-bottom-right-radius: 100%;
  background: #f44336;
  position: absolute;
  top: 0;
  left: 0;
}

::selection {
  background: #f44336;
  color: #fff;
}

.warning {
  display: none;
}

@media screen and (max-width: 700px) {
  .warning {
    color: #777;
    font-size: 2.6rem;
    display: block;
    text-align: center;
  }

  .hero {
    display: none;
  }
}
